.card-view{
    box-shadow: 2px 2px 10px #DADADA;
    margin-bottom: 25px;
    
    background-color: #fff;
    transition: .3s linear all;
  }

  .card-view:hover{
    box-shadow: 4px 4px 20px #DADADA;
    transition: .3s linear all;
  }

  .gambar{
      height: 120px;
      width: 100%;
  }
  
  .content{
      padding: 7px !important;
  }

  .title{
      letter-spacing: 2px;
  }

  /* css for detail bengkel */
  .modal-content  {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important; 
    border:0px !important;
    box-shadow: 7px 4px;
}
#map{
    height: 400px;
    width: 100%;
  }

#detailbengkel{
    padding: 50px;
}

.judul{
    letter-spacing: 3px;
}
#attribute{
    letter-spacing: 3px !important;
}

#komentars{
    padding-left: 20px;
}